.jumbotron{
  margin-top:5rem;
}

body {
  position: relative;
}

.card-deck{
  margin-bottom:3rem;
}

#profile{
  margin-top:5rem;
}

#hobby{
  margin-top:5rem;
}

#programming {
  margin-top:5rem;
}

#pokeratehub{
  margin-top:5rem;
}

#atam {
  margin-top:5rem;
}

#links{
  margin-top:5rem;
  margin-bottom:5rem;
}
