.jumbotron{
  margin-top:5rem;
}

body {
  position: relative;
}

.card-deck{
  margin-bottom:3rem;
  /* padding-bottom:3rem; */
}


#section2 {padding-top:50px;height:500px;background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;background-color: #ff9800;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
